.CinemasSearch{
    min-height: 100vh;
    background-color: #000;
    color: #fff;
}
.CinemasSearch .searchBox{

}
.CinemasSearch .cityName{
    background-color: red;
    padding: 5px;
}

.CinemasSearch .curCity{
    font-weight: 600;
    font-size: 20px;
}
.CinemasSearch .cityLsitul{
    display: flex;
    flex-wrap: wrap;
}
.CinemasSearch .search{

    background-color: yellow;
    padding: 5px;
    color: black;

}